header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.navbar-brand {
    font-size: 18px;
}

header {
    font-size: 18px;
}

main {
    padding-bottom: 30px;
}

h1 {
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: rgb(25, 82, 129);
}

p {
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14.5px;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#clarity-chart {
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#vis-description {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 150%;
}

#summary {
    padding-top: 30px;
}

#summary-figure,
#summary-image {
    float: left;
}

@media (min-width: 1200px) {
    #summary-figure,
    #summary-image {
        float: left;
        padding: 30px;
    }
}

#figure {
    position: relative;
}

.summary-text {
    line-height: 200%;
    font-size: 16px;
}

#visualizations {
    padding-top: 30px;
}

footer {
    position: relative;
    margin-left: auto;
    margin-right: 50px;
    margin-bottom: auto;
}